spitslurp>=0.4
python-dateutil>=2
requests>=2.19
untangle>=1.1
selenium>=3
beautifulsoup4>=4
xmljson>=0.1
jsonpath>=0.80
gevent>=1.2.2
django-apscheduler>=0.2.13
persist-queue>=0.5.0
jsondiff>=1.2.0

# Exporter to Excel (Bovespa)
XlsxWriter>=1.1.2

google-api-python-client>=1.7
google-cloud-storage>=1.10

git+https://github.com/intellstartup/django-cassandra-engine.git@add-consistency-level-support#egg=django-cassandra-engine-1.6.0
git+https://github.com/intellstartup/django-caravaggio-rest-api.git@R202007#egg=django-caravaggio-rest-api-R202007
git+https://github.com/biplap-sarkar/pylimit.git@master#egg=pylimit-0.1.7
